// HOME SECTION 
.home {
    width: 100%;
    max-width: 100rem;
    min-width: auto;
    padding: 15px;
    margin: 5rem auto auto auto;
    height: 100%;
    border: solid 3px royalblue;
    text-align: center;
  }