// PET PROFILE
div.pet.card {
    width: 80vw;
    margin: auto;
    margin-top: 10vh;
  
    div.card-header {
      background-color: lightblue;
      font-size: 2em;
    }
    p.card-text {
      line-height: 0.5em;
    }
    .petPic {
      height: 200px;
      width: 200px;
    }
    div.StatusIcon.card-title.h5 {
      float: right;
    }
    div.petMap {
      height: 200px;
    }
  }