@import '/SCSS/comments';
@import '/SCSS/scrollcomponents';
@import '/SCSS/petprofile';
@import '/SCSS/home';
@import '/SCSS/reportapet';
@import '/SCSS/success';
@import '/SCSS/register';
@import '/SCSS/login';
@import '/SCSS/mobile-view';
@import '/SCSS/loading-animation';
@import '/SCSS/navbar';


$background: #{linear-gradient(to left, rgb(255, 239, 186), rgb(255, 255, 255))};
$teal: #08708A;
$cerulean: #56b1bF;
$hunter: #032b2f;
$azul: #A0c1b8;
$bolivia: #709fb0;
$acaranda: #726A95;
$malber: #351f39;
$darkslategray: #365660;
$indianred: #C46168;



$ink: #193446;
$global_button: #3f51b5;
$background: #{linear-gradient(to left, rgb(255, 239, 186), rgb(255, 255, 255))};
$orange: #F4976C;
$darkblue: #303c6c;
$medblue: #B4dfe5;
$lightblue: #d2fdff;

@import url(https://fonts.googleapis.com/css?family=Roboto);
$roboto: 'roboto', sans-serif;

.progressBar {

  background-color: green;
  justify-content: center;
  margin-bottom: 50px
}

.levels-text {
display: flex;
justify-content: center;
margin-bottom: 10px;
}

.levels-text-2 {
display: flex;
justify-content: center;
}

.badges {
  justify-content: center;
  display: flex;
}

.userProfile {

  display: flex;
  justify-content: center;
}

.userInfo {
  display: flex;

}

.userPicture {
  display: flex;
}

html {
  margin-bottom: 80px;
}


body {
  font-family: $roboto;
  background: linear-gradient(to left, rgb(255, 239, 186), rgb(255, 255, 255));
  color: #193446;




  .btn-primary {
    border: 1px solid $global_button;
    color: $global_button;
    text-transform: uppercase;
    font-weight: bold;
    padding: 8px 10px;
    background-color: transparent;
    outline: 0;
    margin: 15px;
    cursor: pointer;
    border-radius: 5px;


    &:hover {
      background-color: $global_button;
      border-color: $global_button;
    }
  }


  .map {
    display: flex;
    height: 70vh;
    width: 50vw;
    margin-left: 25px;
    float: left;
    border-radius: 5px;
  }

  div.Marker img {
    background-color: red;

  }

  h4 {
    margin: 25px;
  }

.badge-Lost {
  background-color: red;
  color: white;
  display: inline-block;
  padding: .4em;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 10px;
  margin-left: 5px;
}

.badge-Found {
  background-color: green;
  color: white;
  display: inline-block;
  padding: .50em .4em;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10px;
  margin-left: 5px;
}

.badge-Spotted {
  background-color: yellow;
  display: inline-block;
  padding: .50em .4em;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10px;
  margin-left: 5px;
}




}

  // found in PetMap.js
.form-control {
  text-align: center;
  width: 20rem;
  margin: auto;
  text-align-last:center;
  border: solid 1px black;
}

  h3 {
    margin-bottom: 1rem;
  }

  .commentBox {
    box-shadow: 0px 9px 0px 0px rgba(255, 255, 255, 0), 0px -9px 0px 0px rgba(255, 255, 255, 0), 10px 0px 30px 0px rgba(0, 0, 0, 0.15), -10px 0px 30px 0px rgba(0, 0, 0, 0.15);
    width: 500px;
    min-height: 150px;
    position: relative;
    margin: 15px auto;
    padding: 20px;
    font-family: "Helvetica Neue", arial, sans-serif;
    font-size: 15px;
}




