// HOME SECTION
.home {
    width: 100%;
    min-width: auto;
    height: 100%;
    text-align: center;
    margin-bottom: 100px;
    overflow: hidden;

div.form-row {
  margin: 0px;
  margin-bottom: 25px;
  }
  div.container {
    text-align: left;
    color: white;
  }

  .gm-style img {
    max-width: 20vw;
  }

}