
.loginContainer {
  display: flex;
  flex-direction: row-reverse;
}

.loginOverlay {
  margin-left: 1vw;
  flex: '1 0 auto',
}


.login-form {
  width: 40vw;
  text-align: center;
  margin-right: 2vw;

  .btn-primary {
    margin-top:20px;
  }
}


.MuiSvgIcon-root.loginFaceIcon {
  max-width: 10vw;
  width: 5rem;
  height: 5rem;
}

.inputFields > div {
  min-width: 280px;
  max-width: 80vw;
}

.noFlex > div{
  flex-wrap: nowrap;
}

.loginCat {
  display: block;
  max-width: 55vw;
  height: auto;
  width: auto;
  opacity: 0.8;
}

