.login-form {
  width: 100%;
  max-width: 40rem;
  min-width: auto;
  padding: 1rem 0 10rem 0;
  margin-top: 3rem;
  height: 100%;
  text-align: center;
}

.loginContainer {
  background: no-repeat fixed bottom;
  background-size: cover;
  color: #ccc;
  position: relative;
}

.loginOverlay {
  position: absolute;
  top: 0;
  left: 39.05rem;
  bottom: 0;
  right: 0;
}

.password-form {
  margin-bottom: 2rem;
}

.loginCat {
  width: 60rem;
  height: 43.5rem;
  opacity: 0.8;
}

.MuiSvgIcon-root.loginFaceIcon {
  width: 8rem;
  height: 8rem;
}

.MuiSvgIcon-root.loginEmail {
  width: 3rem;
  height: 3rem;
}

.MuiSvgIcon-root.loginLockIcon {
  width: 3rem;
  height: 3rem;
}
.email-text {
  width: 35rem;
}

.password-text {
  width: 35rem;
}

// .heartCheckBox {
//   border: solid 2px black;
//   position: relative;
//   display: contents;
// }

.vpnKeyIcon {
  margin-right: 0.5rem;
}

.login-button {
  width: 35rem;
}