
.loginContainer {
  display: flex;
  flex-direction: row-reverse;
}

.loginOverlay {
  margin-left: 1vw;
  flex: '1 0 auto',
}


.login-form {
  min-width: 350px;
  max-width: 40vw;
  text-align: center;
  margin-top: 6vw;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 9px 0px 0px rgba(255, 255, 255, 0), 0px -9px 0px 0px rgba(255, 255, 255, 0), 10px 0px 30px 0px rgba(0, 0, 0, 0.15), -10px 0px 30px 0px rgba(0, 0, 0, 0.15);
  border-radius: 1em;
  height: 100%;

  .btn-primary {
    margin-top: 25px;
  }

  .svg.MuiSvgIcon-root.vpnKeyIcon {
    margin-right: 5px;
  }
}


.MuiSvgIcon-root.loginFaceIcon {
  max-width: 10vw;
  width: 4em;
  height: 4em;
}

.MuiSvgIcon-root.loginEmailIcon {
  width: 2em;
  height: 2em;
  padding: 5px;
}

.MuiSvgIcon-root.loginLockIcon {
  width: 2em;
  height: 2em;
  padding: 5px;
}

.inputFields > div {
  min-width: 280px;
  max-width: 80vw;
}

.noFlex > div{
  flex-wrap: nowrap;
}

.loginCat {
  display: block;
  // height: auto;
  // width: auto;
  // opacity: 0.8;
  border-radius: 25em;
  height: 39em;
  width: 39em;
  max-width: 55vw;
  margin-right: 5em;
  margin-left: 5em;
  border: 2px solid black;
}

