.navbar {
    height: auto;
    min-height: 60px;
    background-color: #fbc123;
    color: #4f4d58;
    font-size: 20px;

}


.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: black;
    font-size: 20px;
    font-weight:bold;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    text-transform: uppercase;
    margin: 0 40px;

}

.slashes {
  margin-top: 7px;
}

@media screen and (max-width: 1392px) {

 .slashes {
   opacity: 0;
 }
}