// PET PROFILE


$background: #f3f3f3;
$teal: #08708A;
$cerulean: #56b1bF;
$hunter: #032b2f;
$ink: #193446;
$azul: #A0c1b8;
$bolivia: #709fb0;
$acaranda: #726A95;
$malber: #351f39;
$darkslategray: #365660;
$indianred: #C46168;


div.pet.card {
    width: 85vw;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background: none;
    padding: 2vw;
    box-shadow: 0px 9px 0px 0px rgba(255, 255, 255, 0), 0px -9px 0px 0px rgba(255, 255, 255, 0), 10px 0px 30px 0px rgba(0, 0, 0, 0.15), -10px 0px 30px 0px rgba(0, 0, 0, 0.15);

    div.card-body {
      padding: 0px;
      padding-top: 20px;

      p.card-text{
        p {
          margin-bottom: -2px;
        }
      }


      div.petMap > div.petMap {
        height: 300px;

      }

      div.petMap > div.petMap > div.map {
        height: 300px;
        width: 80vw;
        margin-left: 0px;
    }

    }
  
    .petPic {
      display: block;
      max-height: 400px;
      max-width: 75vw;
      margin: auto;
      width: auto;
      height: auto;
    }
    div.petinfo {
      display: flex;
      justify-content: space-between;
    }

  }