// PET PROFILE


$background: #f3f3f3;
$teal: #08708A;
$cerulean: #56b1bF;
$hunter: #032b2f;
$ink: #193446;
$azul: #A0c1b8;
$bolivia: #709fb0;
$acaranda: #726A95;
$malber: #351f39;
$darkslategray: #365660;
$indianred: #C46168;


div.pet.card {


    width: 85vw;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background: none;
    padding: 2vw;
    box-shadow: 0px 9px 0px 0px rgba(255, 255, 255, 0), 0px -9px 0px 0px rgba(255, 255, 255, 0), 10px 0px 30px 0px rgba(0, 0, 0, 0.15), -10px 0px 30px 0px rgba(0, 0, 0, 0.15);

    .gamify {
      width: 80vw;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-start;

        .foundMyPet {
          align-self: flex-end;
        }

        .btn.btn-primary {
          margin: 10px 0px;
        }

    }

    div.card-body {
      padding: 0px;
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      p.card-text{
        text-align: center;
          font-size: 2vw;
        p {
          margin-bottom: -2px;
          text-align: center;
          font-size: 2vw;
        }
      }

      .btn-primary {
        float: right;
      }

      div.petMap > div.petMap {
        height: 300px;

      }

      div.petMap > div.petMap > div.map {
        height: 300px;
        width: 80vw;
        margin-left: 0px;
    }

    }

    .petPic {
      display: block;
      max-height: 400px;
      max-width: 75vw;
      margin: auto;
      width: auto;
      height: auto;
    }
    div.petinfo {
      flex: 1;
      width: 100%;
      /* align-self: center; */
      text-align: center;

      h1{
        font-size: 9vw;
        line-height: 1;
        font-weight: 600;
        text-transform: capitalize;
      }

    }

  }

// .badge-Lost {
//   width: 50%;
//   margin-top: 12px;

//   }




//IS THIS FOR THE SCROLLCOMPONENTS?
.Pets .petcard {

   opacity: 0.90;
}

.Pets .petcard:hover {
  opacity: 1;
  transform: scale(1.03);

}


  .printThis {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0px 9px 0px 0px rgba(255, 255, 255, 0), 0px -9px 0px 0px rgba(255, 255, 255, 0), 10px 0px 30px 0px rgba(0, 0, 0, 0.15), -10px 0px 30px 0px rgba(0, 0, 0, 0.15);
    width: 85vw;
    margin: auto;
    margin-bottom: 5vh;
    margin-top: 5vh;
    background: none;
    padding: 2vw;

    .print {
      // background-color: #3f51b5;
      // padding: 10px;
      // border: 1px solid #3f51b5;
      // border-radius: 5px;

      border: 1px solid $global_button;
      color: $global_button;
      text-transform: uppercase;
      font-weight: bold;
      padding: 8px 10px;
      background-color: transparent;
      outline: 0;
      cursor: pointer;
      border-radius: 5px;


      &:hover {
        background-color: $global_button;
        border-color: $global_button;
        color: white;
        text-decoration: none;
      }
    }
}

div.petProfilePage {

  // .badge-Lost, .badge-Found, .badge-Reunited, .badge-Spotted {

  // display: inline-block;
  // padding: .4em;
  // font-size: 18px;
  // font-weight: 700;
  // text-align: center;
  // white-space: nowrap;
  // vertical-align: baseline;
  // border-radius: 10px;
  // margin-left: 5px;
  // max-width: 100px;

  // }



}