
$ink: #193446;

.registerContainer {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  height: 100%;
}

.registerOverlay {
  margin-right: 1vw;
  flex: '1 0 auto',
}

.registerCat {
  display: block;
  // max-width: 55vw;
  // height: auto;
  // width: auto;
  // opacity: 0.8;
  border-radius: 25em;
  height: 39em;
  width: 39em;
  max-width: 55vw;
  margin-right: 12em;
  margin-left: 5em;
}

.MuiSvgIcon-root.registerLoyaltyIcon {
  width: 4em;
  height: 4em;
}

.MuiSvgIcon-root.registerNameIcon {
  width: 2em;
  height: 2em;
  padding: 1px;
}

.MuiSvgIcon-root.registerEmailIcon {
  width: 2em;
  height: 2em;
  padding: 1px;
}

.MuiSvgIcon-root.registerPasswordIcon {
  width: 2em;
  height: 2em;
  padding: 1px;
}

.MuiSvgIcon-root.registerPhoneIphoneIcon {
  width: 2em;
  height: 2em;
  padding: 1px;
}

div.registerAlerts.form-check {
  width: 90vw;
}
.registerForm {
  width: 40vw;
  text-align: center;
  margin-left: 2vw;
  bottom: 5em;

  .form-check {
    position: inherit;

  }

  .btn-primary {
    margin-top: 3px;
    width: 45em;
  }
}

.inputFields > div {
  min-width: 280px;
  max-width: 80vw;
}

.noFlex > div{
  flex-wrap: nowrap;
}
.registerNameText {
  min-width: 300px;
  max-width: 80vw;
  width: 35em;
}

.registerEmailText {
  width: 35em;
}

.registerPasswordText {
  width: 35em;
}

.registerPasswordConfirmationText {
  width: 35em;
}

.registerPhoneNumberText {
  width: 35em;
}


// .Notifications {
//   position: inherit;
//   margin-right: 0px;

//   //checkbox text
//   span.MuiTypography-root {
//   // line-height: 0.5em;
//   // margin-top: 18px;
// }
// }


.registerAlerts {
  margin-top: 2rem;
  text-align: left;
}

label.form-check-label {
  position: inherit;
  color: $ink;
}

.registerAlertsText {
  margin-left: 2rem;
}

.registerCreateIcon {
  margin-right: 0.5rem;
}

.registerBtn {
  bottom: 20px;
}