.register-form {
    width: 100%;
    max-width: 300px;
    min-width: auto;
    padding: 15px;
    margin: 5rem auto auto auto;
    border: solid 3px royalblue;
    display: flex;
  }

  .register-control {
    text-align: center;
    border-radius: 5rem;
    width: 120%;
  }