 // REPORT A PET
 .report-a-pet {
    width: 100%;
    max-width: 1000px;
    min-width: auto;
    padding: 15px;
    margin: 5rem;
    height: 100%;
    border: solid 3px royalblue;
    text-align: center;
  }
  
  .report-a-pet-control {
    width: 10rem; 
    text-align-last: center;
    border: solid 1px black;
  }
  
  .report-a-pet-comment {
    width: 50rem;
    height: 10rem;
    border: solid 1px black;
  }
  
  .report-a-pet-btn {
    border-radius: 5rem;
  }