$background: #f3f3f3;
$teal: #08708A;
$cerulean: #56b1bF;
$hunter: #032b2f;
$ink: #193446;
$azul: #A0c1b8;
$bolivia: #709fb0;
$acaranda: #726A95;
$malber: #351f39;
$darkslategray: #365660;
$indianred: #C46168;

$background: #fbe8a6;
$orange: #F4976C;
$darkblue: #303c6c;
$medblue: #B4dfe5;
$lightblue: #d2fdff;


// Scroll component view

div.infinite-scroll-component {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
}

div.Pets {

    position: relative;
    float: left;
    margin-left: 25px;
    margin-bottom: 25px;
    height: 200px;

    // CARD VIEW

    .button3 {
      border-radius: 5px;

    }

    .button {
      background-color: #F4976C;
      color: white;
      padding: 8px;
      font-size: 15px;
      margin: 4px 2px;
      margin-left: 50px;
    }

    .card {
      display: flex;
      flex-direction: row;
      flex: flex-wrap;
      height: auto;
      margin-bottom: 5%;
      margin-right: 5%;
      background: white;
      border-radius: 5px;
      box-shadow: 0px 7px 9px grey;
      position: relative;
      width: auto;
      max-width: 575px;
    }

    .card > .entry {
      height: auto;
      position: relative;
      background: white;
    }

    .card > .entry,
    .card > .entry > .container > .text {
      position: relative;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      display: flex;
      flex-wrap: wrap;

    }
    
    .card > .container {
    display: flex;
    height: auto;
    width: auto;
    }

    .card > .entry > .container > .text {
      left: 0;
    }

    .card > .entry h1,
    .card > .entry p {
      text-shadow: 0 0 0 #333;
      transition-delay: 0.4s;
      min-width: 100px;
    }

    .card > .entry .meta {
      font-size: 12px;
      color: #B4dfe5;
      padding-left: 10px;
      text-align: right;
    }

    h1 {
      display: inline-block;
      margin-bottom: 5px;
    }

    .card > .image {

      position: relative;
      background: white;
      height: 100%;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      
    }

    .card > .image > img {
      height: 100%; 
      width: auto;
      max-width: 200px;
      max-height: 200px; 
      overflow: hidden;  
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      
    }
  }

@media screen and (max-width: 768px) {
  .map {
    width: 100% !important;
    height: 400px !important;
    overflow: hidden !important;

  }
  .infinite-scroll-component {
    float: left !important;
    margin-left: calc(50% - 250px) !important;
    margin-top: 25px;
  }
}