// SUCCESS SECTION

@media (max-width: 1200px) {
  body {
    #headingGroup h1 {
      font-weight: 100;
      font-size: 3rem;
    }
  }
}

.secondSection h2 {
  font-weight: 100;
  font-size: 2.5rem;
}

.secondSection p {
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
}

.content {
  margin-top: 100px;
  margin-bottom: 100px;
}

.successIcon {
  width: 25%;
}

.container-fluid {
  overflow: hidden;
}

.img-fluid1 {
  float: right;
  height: 40vw;
  border-radius: 20rem;
  margin-right: 6.5rem;
}

.img-fluid2 {
  height: 40vw;
  border-radius: 20rem;
  margin-left: 6.5rem;
}

.img-fluid3 {
  float: right;
  height: 40vw;
  margin-right: 6.5rem;
  border-radius: 20rem;
}
#headingGroup h1 {
  font-weight: 100;
  font-size: 4rem;
}

#headingGroup span {
  color: red;
}

