// SUCCESS SECTION

.success-petOwner1 {
    float: left;
    width: 25rem;
    margin: 20rem;
  }
  
  .person-wrapper {
    margin-bottom: 10rem;
  }
  
  .profile-pic {
    width: 50%;
    border-radius: 5rem;
    border: solid 3px black;
  
    h3 {
      margin-bottom: 1rem;
    }
  
    .commentBox {
      box-shadow: 0px 9px 0px 0px rgba(255, 255, 255, 0), 0px -9px 0px 0px rgba(255, 255, 255, 0), 10px 0px 30px 0px rgba(0, 0, 0, 0.15), -10px 0px 30px 0px rgba(0, 0, 0, 0.15);
      width: 500px;
      min-height: 150px;
      position: relative;
      margin: 15px auto;
      padding: 20px;
      font-family: "Helvetica Neue", arial, sans-serif;
      font-size: 15px;
    }
}  