.progressBar {
  background-color: green;
  justify-content: center;
  margin-bottom: 50px
}

.levels-text {
display: flex;
justify-content: center;
margin-bottom: 10px;
}

.levels-text-2 {
display: flex;
justify-content: center;
}

.badges {
  justify-content: center;
  display: flex;
}

.userProfile {

  display: flex;
  justify-content: center;
}

.userInfo {
  display: flex;

}

.userPicture {
  display: flex;
}